.dialog-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.dialog-container__form {
  display: flex;
  flex-direction: column;
}

.dialog-container__content {
  height: 50vh;
}

.dialog-container__input-hint {
  color: red;
  font-size: 12px;
}

.dialog-container__close-button {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 360px) {
  .dialog-container {
    padding: unset;
  }
}
